.footerBox {
	height: 54px;
}

.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: var(--footerBackground);
	z-index: 20;
	ul {
		display: flex;
		justify-content: center;
		list-style-type: none;
		flex-wrap: wrap;
		padding: 0;
		li {
			margin: 8px 16px;
			a {
				text-decoration: none;
				color: var(--footerTextColor);
				&:hover {
					opacity: 0.7;
				}
			}
		}
	}
}